.home{
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.gridBg{
  padding-top: 150px;
  margin: 0;
  background-color: rgb(8, 1, 14);
  /* background-color: black; */
  color: black;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-image: repeating-linear-gradient(
    to right, transparent 0 49px, #eee1 49px 50px
  ),
  repeating-linear-gradient(
    to bottom, transparent 0 49px, #eee1 49px 50px
  )
}
.heroImgBox{
  margin: 0;
  background-color: rgb(8, 1, 14);
  /* background-color: black; */
  color: black;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-image: repeating-linear-gradient(
    to right, transparent 0 49px, #eee1 49px 50px
  ),
  repeating-linear-gradient(
    to bottom, transparent 0 49px, #eee1 49px 50px
  );
   /* &::before{
    position: fixed;
    width: 400px;
    height: 400px;
    content: '';
    background-image: linear-gradient(
      to right, #140013, #140029
    );
    z-index: -1;
    top: -200px;
    left: calc(50% - 200px);
    border-radius: 50% 50% 0 0;
    pointer-events: none;
    filter: blur(250px)
  } */
}
.heroImg{
    /* border: 1px solid white; */
    width: 90%;
} 
.heroTxtBox{
    width: 70%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}
.heroTxt1{
    font-size: 52px;
    color: white;
}
.heroTxt2{
    font-size: 20px;
    color: white;
}

.stats{
    width: 100%;
    height: 265px;
    /* border: 1px solid white; */
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.stat{
    height: 100%;
    width: 20%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 29px;
    /* background-color: antiquewhite; */
}

@media (max-width: 768px) {
    .gridBg {
        height: auto;
        padding-bottom: 50px;
    }

    .heroTxtBox {
        width: 90%;
        height: auto;
    }

    .heroTxt1 {
        font-size: 32px;
    }

    .heroTxt2 {
        font-size: 16px;
    }

    .heroImgBox {
        height: auto;
        padding: 50px 0;
    }

    .stats {
        flex-direction: column;
        height: auto;
        gap: 40px;
        margin-bottom: 50px;
    }

    .stat {
        width: 90%;
        margin: 0 auto;
    }
}
.statTxt{
    color: rgba(141, 141, 141, 1);
}
.statHead{
    height: 50%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.statHeadTxt{
    font-size: 64px;
    color: rgba(221, 221, 221, 1);
}
