.features{
    width: 100%;
    height: 300vh;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /* justify-content: center; */
}


.featuresHead{
    width: 70%;
    /* background-color: aquamarine; */
    height: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}
.featuresHead1{
    font-size: 48px;
    color: rgba(255, 255, 255, 1);
}
.featuresHead2{
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.featureCards{
    width: 100%;
    height: 80%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.featureCard{
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    gap: 48px;
    /* border: 1px solid black; */
    justify-content: center;
}
.featureCard img{
    width: 50%;
}
.featureTxt{
    width: 50%;
    height: 80%;
    /* border: 1px solid white; */
    gap: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.featureTxt h3{
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
}
.featureTxt p{
    color: rgba(239, 230, 253, 1);
    font-size: 18px;
}

@media (max-width: 768px) {
    .features {
        height: auto;
        padding: 50px 0;
    }

    .featuresHead {
        width: 90%;
        height: auto;
        margin-bottom: 40px;
    }

    .featuresHead1 {
        font-size: 32px;
    }

    .featureCards {
        height: auto;
        gap: 40px;
    }

    .featureCard {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }
    
    /* Reorder text and image for the second card so image is always last or first consistently. 
       Currently card 2 has text first. Let's make all images come first or keep as is but stacked.
       If we want image on top for all: */
    .featureCard:nth-child(2) {
        flex-direction: column-reverse;
    }

    .featureCard img {
        width: 100%;
    }

    .featureTxt {
        width: 100%;
        height: auto;
        text-align: center;
        align-items: center;
    }
}