.bentoGrid{
    width: 100%;
    height: 230vh;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.bentoTxtBox{
    width: 70%;
    height: 20%;
    display: flex;
    /* background-color: bisque; */
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}
.bentoTxt{
    font-size: 48px;
    color: rgba(255, 255, 255, 1);
}
.bentoTxt2{
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.bento {
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /* background-color: red; */
}

#bentoCard{
  margin: 0;
  background-color: rgb(8, 1, 14);
  border: 1px solid rgb(255, 255, 255, 0.2);
  width: 100%;
  background-image: repeating-linear-gradient(
    to right, transparent 0 49px, #eee1 49px 50px
  ),
  repeating-linear-gradient(
    to bottom, transparent 0 49px, #eee1 49px 50px
  );
   
}
.bento1 { 
    grid-area: 1 / 1 / 2 / 5; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12px;
    border: 1px solid rgb(255, 255, 255, 0.2);
}
.bento1Txt{
    color: rgba(255, 255, 255, 1);
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
#primaryBentoTxt{
    font-size: 40px;
}
#secBentoTxt{
    font-size: 16px;
}
.bento1 img{
    width: 50%;
    height: 90%;
}


.bento2 { 
    grid-area: 2 / 1 / 3 / 3; 
border-radius: 12px;
    border: 1px solid rgb(255, 255, 255, 0.2);
}
.summary1{
    position: relative;
    right: -100px;
}
.summary2{
    position: relative;
    right: -200px;
}



.bento3 { 
    grid-area: 2 / 3 / 4 / 5;
    border-radius: 12px;
    border: 1px solid rgb(255, 255, 255, 0.2);
}
.bento3Txt{
    width: 100%;
    height: 30%;
    /* background-color: blueviolet; */
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bento3 img{
    width: 100%;
    height: 70%;
    /* background-color: aquamarine; */
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}


.bento4 { 
    grid-area: 3 / 1 / 4 / 2; 
    border-radius: 12px;
    border: 1px solid rgb(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.bento4Txt1{
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}
.bento4Txt2{
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    width: 90%;
}

.bento5 { 
    grid-area: 3 / 2 / 4 / 3; 
    border-radius: 12px;
    border: 1px solid rgb(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .bentoGrid {
        height: auto;
        padding-bottom: 50px;
    }

    .bentoTxtBox {
        width: 90%;
        height: auto;
        margin-bottom: 30px;
    }

    .bentoTxt {
        font-size: 32px;
    }

    .bento {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    .bento1 {
        flex-direction: column-reverse;
        padding: 20px 0;
        text-align: center;
    }

    .bento1Txt {
        width: 100%;
        padding: 0;
        align-items: center;
    }

    .bento1 img {
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }

    #primaryBentoTxt {
        font-size: 32px;
    }
    
    .bento2, .bento3, .bento4, .bento5 {
        height: auto;
        padding: 20px 0;
    }
    
    .summary1, .summary2 {
        right: 0;
        position: static;
        margin: 10px;
        width: 80% !important;
    }
    
    .bento2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
